.login {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_logo {
    margin-top: 20px;
    margin-bottom: -20px;
    object-fit: contain;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.login_container {
    width: 80%;
    max-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login_container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login_container > form > h5 {
    margin-bottom: 5px;
}

.login_container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 98%;
}

.login_container > p {
    margin-top: 15px;
    font-size: 12px;
    font-style: italic;
}

.login_signInButton {
    background: #38f617;
    border-radius:  2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #7ff5d9 #70cab5 #91e9d4;
    cursor: pointer;
    font-weight: 600;
}

.login_registerButton {
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    cursor: pointer;
    border-color: rgb(169, 169, 169);
    font-weight: 600;

}