.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-left: 10px;
}


.subtotal > button {
    background: #64FFDA;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #7ff5d9 #70cab5 #91e9d4;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
